*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header {
    display: flex;
}
header .nav-global{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom, #010101 , #1F1F1F);
    position: relative;
}
header .nav-global .container{
    height: 75px;
    width: 1220px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    /*background-color: antiquewhite;*/
    /*background: rgba(250,250,250,0.3);*/
}
header .nav-global .container .nav-logo{
    float: left;
    text-align: left;
    text-indent: -999em;
}

header .nav-global .container .nav-logo a{
    display: block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background: url(../images/logo.png) no-repeat;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

header .nav-global .container .nav-list{
    height: 28px;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translate(350px,-50%);
    display: flex;
    /*background-color: aliceblue;*/
}

header .nav-global .container .nav-list li a{
    height: 28px;
    width: auto;
    display: block;
    padding: 0 25px;
    font-size: 14px;
    line-height:  28px;
    color: #c8c8c8;
    cursor: pointer;
    /*background-color: aquamarine;*/
    transition: all .15s ease-out;
}
header .nav-global .container .nav-list li a:hover {
    color: #fff;
}
header .nav-global .container .nav-aside{
    height: 20px;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 140px;
}

header .nav-global .container .nav-aside::before{
    content: " ";
    height: 18px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    right: 45px;
    background: #242424;
}
header .nav-global .container .nav-aside .nav-user{
    line-height: 20px;
    color: #666;
    cursor: pointer;
    position: absolute;
    transition: all .15s ease-out;
}
header .nav-global .container .nav-aside .nav-user:hover{
    color: #fff;
}

header .nav-global .container .nav-aside .nav-car{
    line-height: 20px;
    color: #666;
    cursor: pointer;
    position: absolute;
    margin-left: 50px;
    transition: all .15s ease-out;
}

header .nav-global .container .nav-aside .nav-car-num{
    height: 18px;
    width: 18px;
    display: block;
    font-size: 13px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    background-color: #666;
    color: #fff;
    cursor: pointer;
    position: absolute;
    margin-left: 75px;
    transition: all .15s ease-out;
}
header .nav-global .container .nav-aside .nav-car:hover{
    color: #fff;
}
header .nav-global .container .nav-aside .nav-car-list{
    width: 360px;
    height: 315px;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    transform: translate(-220px,35px);
    padding:20px;

    display:none;
    /*transition: all .15s ease-out;*/
}

header .nav-global .container .nav-aside .nav-car-list::before{
    content: " ";
    width: 0px;
    height: 0px;
    border-width: 10px;
    border-style: solid;
    border-bottom-color: #c8c8c8;
    border-bottom-color: transparent;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    transform: translate(250px,-40px);
}










