.main .page-home section.activity-panel{
     width: 1220px;
     height: 200px;
     border-radius: 10px;
     /*background-color: #7D9ADF;*/
     border: 1px solid #DBDBDB;
     margin-top: 28px;
     cursor: pointer;
}
.main .page-home .activity-panel ul>li{
    width: 305px;
    height: 200px;
    float: left;
}
.main .page-home .activity-panel ul>li:hover{
    box-shadow:0px 0px 5px 1px #dfdfdf inset ;
}
.main .page-home .activity-panel ul>li:nth-child(1){
    border-radius: 8px 0 0 8px;
    background: url("../images/ap1.png");
}
.main .page-home .activity-panel ul>li:nth-child(2){
    background: url("../images/ap2.jpg");
}
.main .page-home .activity-panel ul>li:nth-child(3){
    background: url("../images/ap3.jpg");
}
.main .page-home .activity-panel ul>li:nth-child(4){
    border-radius: 0 8px 8px 0;
    background: url("../images/ap4.jpg");
}




/*热门商品*/
.hot-panel{
    width: 1222px;
    height: 490px;
    /*background-color: #7D9ADF;*/
    margin-top: 30px;
}
.title-header{
    width: 1222px;
    height: 60px;
    background-color: #FAFAFA;
    border-radius: 10px 10px 0 0;
    border: 1px solid #DBDBDB;
    border-bottom: none;
    box-sizing: border-box;
    /*border-collapse: collapse;*/
}
.title-header h5{
    font-size: 100%;
    font-weight: 400;
    margin-left: 30px;
    line-height: 60px;
    color: #666;
    font-family: Microsoft Yahei;
}

.hot-panel .hot-wrapper{
    width: 1220px;
    height: 430px;
    /*background-color: #666666;*/
    border-radius:  0 0 10px 10px;
    border: 1px solid #DBDBDB;
    background-color: #fff;
}

.hot-panel .cell-list>li{
    width: 305px;
    height: 430px;
    float: left;
    cursor: pointer;
    text-align: center;
}
.forum-panel li:hover,
.app-wrapper li:hover,
.floor-panel .cell-list>li:hover,
.hot-panel .cell-list>li:hover{
    box-shadow:0px 0px 20px 3px #efefef inset ;
}
.floor-panel .cell-list>li:nth-child(1):hover{
    box-shadow: none;
}

.hot-panel .cell-list li .show{
    width: 205px;
    height: 205px;
    margin: 0 auto;
    margin-top: 50px;
}
.hot-panel .cell-list>li:nth-child(1) .show{
    background: url("../images/hw1.jpg");
    text-align: center;
    background-repeat:no-repeat; background-size:100% auto;
}
.hot-panel .cell-list>li:nth-child(2) .show {
    background: url("../images/hw2.jpg");
    background-repeat:no-repeat; background-size:100% auto;
}
.hot-panel .cell-list>li:nth-child(3) .show{
    background: url("../images/hw3.jpg");
    background-repeat:no-repeat; background-size:100% auto;
}
.hot-panel .cell-list>li:nth-child(4) .show{
    background: url("../images/hw4.jpg");
    background-repeat:no-repeat; background-size:100% auto;
}
.floor-panel .cell-list>li:nth-last-child(-n+6) .info,
.hot-panel .cell-list>li .info{
    margin-top: 15px;
}
.floor-panel .cell-list>li:nth-last-child(-n+6) .info h6,
.hot-panel  .cell-list>li .info h6{
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #424242;
    overflow: hidden;
}

.floor-panel .cell-list>li:nth-last-child(-n+6) .info p,
.hot-panel .cell-list li .info p{
    font-size: 12px;
    color: #BFBFBF;
    margin-top: 5px;
}

.hot-panel .cell-list li:nth-child(even) .info p{
    color: #E04E4E;
}

.floor-panel .cell-list>li:nth-last-child(-n+6) .dot-list,
.hot-panel .dot-list{
    height: 18px;
    width: 100%;
    display: flex;
    justify-content:center;
    margin-top: 20px;
}

.floor-panel .cell-list>li:nth-last-child(-n+6) .dot-list>li,
.hot-panel .dot-list>li{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #E5E5E5;
    margin: 0 6px;
    box-sizing: border-box;
    position: relative;
}

.floor-panel .cell-list>li:nth-last-child(-n+6) .dot-list>li>span,
.hot-panel .dot-list>li>span{
    width: 8px;
    height: 8px;
    display: block;
    background-color: #010101;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hot-panel .cell-list>li:nth-child(1) .dot-list>li:nth-child(1)>span{
    background-color:#000000;
}
.hot-panel .cell-list>li:nth-child(1) .dot-list>li:nth-child(2)>span{
    background-color: #BFBFBF;
}
.hot-panel .cell-list>li:nth-child(1) .dot-list>li:nth-child(3)>span{
    background-color: #033047;
}
.hot-panel .cell-list>li:nth-child(2) .dot-list>li:nth-child(1)>span{
    background-color:#C6C5CD;
}
.hot-panel .cell-list>li:nth-child(4) .dot-list>li:nth-child(1)>span{
    background-color:#D94754;
}
.hot-panel .cell-list>li:nth-child(4) .dot-list>li:nth-child(2)>span{
    background-color:#6A5750s;
}


/*颜色扭*/
/*官方精选 2坚果保护套*/
.floor-panel .cell-list>li:nth-child(2) .dot-list>li:nth-child(1)>span{
    background-color: #A8394C;
}
.floor-panel .cell-list>li:nth-child(2) .dot-list>li:nth-child(2)>span{
    background-color: #292929;
}
.floor-panel .cell-list>li:nth-child(2) .dot-list>li:nth-child(3)>span{
    background-color: #4E2D26;
}
.floor-panel .cell-list>li:nth-child(2) .dot-list>li:nth-child(4)>span{
    background-color: #E5DED6;
}
/*官方精选 3充电宝*/
.floor-panel .cell-list>li:nth-child(3) .dot-list>li>span{
         background-color: #E5E5ED;
 }
/*官方精选 4充电头*/
.floor-panel .cell-list>li:nth-child(4) .dot-list>li>span{   }
/*官方精选 5数据线*/
.floor-panel .cell-list>li:nth-child(5) .dot-list>li>span{   }
/*官方精选 6自拍杆*/
.floor-panel .cell-list>li:nth-child(6) .dot-list>li>span{   }
/*官方精选 7耳机*/
.floor-panel .cell-list>li:nth-child(7) .dot-list>li:nth-child(1)>span{
    background-color: #B73233;
}
.floor-panel .cell-list>li:nth-child(7) .dot-list>li:nth-child(2)>span{
    background-color: #3C3C3C;
}
.floor-panel .cell-list>li:nth-child(7) .dot-list>li:nth-child(3)>span{
    background-color: #898989;
}


/*颜色扭*/
/*品牌精选 2fill耳机*/
.floor-panel:nth-child(5) .cell-list>li:nth-child(2) .dot-list>li>span{
    background-color:#000000;
}
/*品牌精选 4 fill耳机*/
.floor-panel:nth-child(5) .cell-list>li:nth-child(4) .dot-list>li:nth-child(1)>span{
    background-color:#000000;
}
.floor-panel:nth-child(5) .cell-list>li:nth-child(4) .dot-list>li:nth-child(2)>span{
    background-color:#E0F376;
}
/*品牌精选 6 极米*/
.floor-panel:nth-child(5) .cell-list>li:nth-child(6) .dot-list>li>span{
    background-color:#C6C5CD;
}
/*品牌精选 7 fill头戴耳机*/
.floor-panel:nth-child(5) .cell-list>li:nth-child(7) .dot-list>li:nth-child(1)>>span{
    background-color:#B73233;
}
.floor-panel:nth-child(5) .cell-list>li:nth-child(7) .dot-list>li:nth-child(2)>span{
    background-color:#3C3C3C;
}

/*圈圈加粗*/
.floor-panel:nth-child(5) .cell-list>li:nth-child(7) .dot-list>li:nth-child(1),
.floor-panel:nth-child(5) .cell-list>li:nth-child(4) .dot-list>li:nth-child(1){
    border-color: #E5E5E5;
    border-width: 1px;
}

.floor-panel:nth-child(5) .cell-list>li:nth-child(7) .dot-list>li:nth-child(2),
.floor-panel .cell-list>li:nth-child(7) .dot-list>li:nth-child(1),
.floor-panel .cell-list>li:nth-child(6) .dot-list>li,
.floor-panel .cell-list>li:nth-child(5) .dot-list>li,
.floor-panel .cell-list>li:nth-child(4) .dot-list>li,
.floor-panel .cell-list>li:nth-child(3) .dot-list>li,
.floor-panel .cell-list>li:nth-child(2) .dot-list>li:nth-child(1),
.hot-panel .cell-list>li:nth-child(1) .dot-list>li:nth-child(2),
.hot-panel .cell-list>li:nth-child(2) .dot-list>li,
.hot-panel .cell-list>li:nth-child(3) .dot-list>li,
.hot-panel .cell-list>li:nth-child(4) .dot-list>li:nth-child(1){
    border-color: #B2B2B2;
    border-width: 3px;
}

.floor-panel .cell-list>li p.price,
.hot-panel .cell-list>li p.price{
    height: 20px;
    width: 100%;
    margin-top: 20px;
}
.floor-panel .cell-list>li p.price i,
.hot-panel .cell-list>li p.price i{
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    line-height: 1.2;
    color: #de4037;
}
.floor-panel .cell-list>li p.price span,
.hot-panel .cell-list>li p.price span{
    font-weight: 700;
    color: #de4073;
    font-family: Arial;
    font-size: 18px;
}
.hot-panel .cell-list>li p.price o{
    color: #d2d2d2;
    font-size: 13px;
    margin-left: 3px;
    font-weight: 400;
    text-decoration: line-through;
}
.floor-panel .cell-list>li .detail-btn,
.hot-panel .cell-list>li .detail-btn{
    height: 30px;
    width: 100%;

    margin-top: -25px;
    display: flex;
    justify-content:center;
}
.floor-panel .cell-list>li .detail-btn span,
.hot-panel .cell-list>li .detail-btn span{
    width: 100px;
    height: 30px;
    display: block;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 12px;
    color: #646464;
    line-height: 28px;
    box-sizing: border-box;
    display: none;
    margin: 0 5px;
}
.floor-panel .cell-list>li .detail-btn span:nth-child(2),
.hot-panel .cell-list>li:nth-child(2) .detail-btn span:nth-child(2){
    color: #fff;
    background: #678ee7;
}

.hot-panel .cell-list>li:nth-child(3) .detail-btn span:nth-child(2){
    color: #fff;
    background: #678ee7;
}
.floor-panel .cell-list>li .detail-btn span:hover,
.hot-panel .cell-list>li .detail-btn span:hover{
    background-color: #F0F0F0;
}
.floor-panel .cell-list>li .detail-btn span:nth-child(2):hover{
    color: #fff;
    background: #678ee7;
}

.floor-panel .cell-list>li:hover .detail-btn span,
.hot-panel .cell-list>li:hover .detail-btn span{
     display: block;
 }

.floor-panel .cell-list>li:hover p.price,
.hot-panel .cell-list>li:hover p.price{
    opacity: 0;
}




/*官方精选*/

.floor-panel{
    width: 1222px;
    height: 920px;
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 10px;
}
.floor-panel .cell-list{
    width: 1222px;
    height: 860px;
    border-left:1px solid #DBDBDB;
    border-bottom:1px solid #DBDBDB;
    border-right:1px solid #DBDBDB;
    box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

.floor-panel .cell-list>li:nth-child(1){
    width: 610px;
    height: 430px;
    /*background-color: #D94754;*/
    border-top: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
    box-sizing: border-box;
    float: left;
    background: url(../images/fp1_1.jpg);
}
.floor-panel:nth-child(5) .cell-list>li:nth-child(1){
   background: url(../images/fp2_1.jpg);
}
.floor-panel .cell-list>li:nth-last-child(-n+6){
    width: 305px;
    height: 430px;
    /*background-color: #7D9ADF;*/
    box-sizing: border-box;
    border-top: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
    float: left;
}
.floor-panel .cell-list>li:nth-last-child(1) {
    border-right: none;
    border-radius: 0 0 10px 0;
}
.floor-panel .cell-list>li:nth-last-child(5) {
    border-right: none;
}
.floor-panel .cell-list>li:nth-last-child(-n+6){
    text-align: center;
}
.floor-panel .cell-list>li:nth-last-child(-n+6) .show {
    width: 205px;
    height: 205px;
    margin: 0 auto;
    margin-top: 50px;
    background: url("../images/fp1_2.jpg");
}
.floor-panel .cell-list>li:nth-child(3) .show{
    background: url("../images/fp1_3.jpg");
}
.floor-panel .cell-list>li:nth-child(4) .show{
    background: url("../images/fp1_4.jpg");
}
.floor-panel .cell-list>li:nth-child(5) .show{
    background: url("../images/fp1_5.jpg");
}
.floor-panel .cell-list>li:nth-child(6) .show{
    background: url("../images/fp1_6.jpg");
}
.floor-panel .cell-list>li:nth-child(7) .show{
    background: url("../images/fp1_7.jpg");
}

.floor-panel:nth-child(5) .cell-list>li:nth-last-child(-n+6) .show {
    width: 205px;
    height: 205px;
    margin: 0 auto;
    margin-top: 50px;
    background: url("../images/fp2_2.jpg");
}
.floor-panel:nth-child(5) .cell-list>li:nth-child(3) .show{
    background: url(../images/fp2_3.jpg);
}
.floor-panel:nth-child(5) .cell-list>li:nth-child(4) .show{
    background: url(../images/fp2_4.jpg);
}
.floor-panel:nth-child(5) .cell-list>li:nth-child(5) .show{
    background: url(../images/fp2_5.jpg);
}
.floor-panel:nth-child(5) .cell-list>li:nth-child(6) .show{
    background: url(../images/fp2_6.jpg);
}
.floor-panel:nth-child(5) .cell-list>li:nth-child(7) .show{
    background: url(../images/fp2_7.jpg);
}


.technology-panel{
    width: 1222px;
    height: 260px;
    /*background-color: #D94754;*/
    margin-top: 30px;
    border-bottom: 1px solid #DBDBDB;
    border-radius: 0 0  10px 10px;
}

.technology-panel ul>li{
    width: 305px;
    height: 200px;
    /*background-color: #666666;*/
    float: left;
    cursor: pointer;
}
.technology-panel ul>li:nth-child(1){
    border-left: 1px solid #DBDBDB;
    border-radius: 0 0 0 10px;
    background: url(../images/tp1.png);
    background-repeat:no-repeat; background-size:100% auto;
}
.technology-panel ul>li:nth-child(4){
    border-right: 1px solid #DBDBDB;
    border-radius: 0 0 10px 0 ;
    background: url(../images/tp4.jpg);
    background-repeat:no-repeat; background-size:100% auto;
}
.technology-panel ul>li:nth-child(2){
    background: url(../images/tp2.jpg);
    background-repeat:no-repeat; background-size:100% auto;
}
.technology-panel ul>li:nth-child(3){
    background: url(../images/tp3.jpg);
    background-repeat:no-repeat; background-size:100% auto;
}
.technology-panel ul>li:hover{
    box-shadow:0px 0px 5px 1px #efefef inset
}

.app-panel{
    width: 1222px;
    height: 422px;
    margin-top: 30px;
}
.app-wrapper{
    width: 1222px;
    height: 360px;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}
.app-wrapper li{
    width: 305px;
    height: 360px;
    border-left: 1px solid #DBDBDB;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
}
.app-wrapper li:nth-child(1){
    border-left: none;
}
.app-wrapper li .app-image{
    width: 90px;
    height: 90px;
    background-color: #D94754;
    margin: 75px auto 0;
    background: url("../images/app-icon.png")0 0 no-repeat;
}
.app-wrapper li:nth-child(2) .app-image{
    background: url("../images/app-icon.png")-192px 0 no-repeat;
}
.app-wrapper li:nth-child(3) .app-image{
    background: url("../images/app-icon.png")-98px 0 no-repeat;
}
.app-wrapper li:nth-child(4) .app-image{
    background: url("../images/app-icon.png")-375px 0 no-repeat;
}
.app-panel .info{
    margin-top: 25px;
    text-align: center;
}
.app-panel .info h6{
    font-size: 16px;
    color: #424242;
    font-weight: 400;
}
.app-panel .info p{
    margin-top: 18px;
    font-size: 12px;
    color: #b2b2b2;
}
.app-panel .info p span{
    display: block;
    margin-top: 6px;
}

.app-wrapper li .platform{
    height: 16px;
    width: 100%;
    /*background-color: #D94754;*/
    text-align: center;
    display: flex;
    justify-content:center;
    margin-top: 20px;
}
.app-wrapper li .platform span{
    height: 16px;
    width: 16px;
    display: block;
    margin: 0 8px;
}
.app-wrapper li:nth-child(1) .platform span:nth-child(1){
    background: url("../images/app-win.png");
}
.app-wrapper li:nth-child(1) .platform span:nth-child(2){
    background: url("../images/app-ios.png");
}
.app-wrapper li:nth-child(2) .platform span:nth-child(1){
    background: url("../images/app-android.png");
}
.app-wrapper li:nth-child(2) .platform span:nth-child(2){
    background: url("../images/app-ios.png");
}
.app-wrapper li:nth-child(3) .platform span{
     background: url("../images/app-android.png");
 }
.app-wrapper li:nth-child(4) .platform span{
    background: url("../images/app-android.png");
}
.app-wrapper li:nth-child(2) .platform::before,
.app-wrapper li:nth-child(1) .platform::before{
    content: " ";
    height: 8px;
    width: 1px;
    overflow: hidden;
    background-color: #E0E0E0;
    position: absolute;
    margin-top: 4px;
}


.forum-panel{
    width: 1222px;
    height: 422px;
    margin-top: 15px;
}
.forum-panel .forum-wrapper{
    width: 1222px;
    height: 362px;
    border-radius: 0 0 10px 10px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;

}
.forum-panel .forum-wrapper li{
    width: 305px;
    height: 360px;
    background-color: #fff;
    box-sizing: border-box;
    float: left;
    border-left:1px solid #DBDBDB;
    padding: 30px;
    cursor: pointer;
}
.forum-panel .forum-wrapper li:nth-child(1){
    border-left: none;
}

.forum-panel .forum-image{
    width: 245px;
    height: 156px;
    /*background-color: #7D9ADF;*/
    margin: 0 auto;
    border-radius:5px;
}
.forum-panel li:nth-child(1) .forum-image{
    background: url("../images/fop1.jpg");
    background-size: 100% auto;
}
.forum-panel li:nth-child(2) .forum-image{
    background: url("../images/fop2.png");
    background-size: 100% auto;
}
.forum-panel li:nth-child(3) .forum-image{
    background: url("../images/fop3.png");
    background-size: 100% auto;
}
.forum-panel li:nth-child(4) .forum-image{
    background: url("../images/fop4.png");
    background-size: 100% auto;
}
.forum-panel .info h6{
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #424242;
    margin-top: 25px;
}
.forum-panel .info p{
    display: -webkit-box;  /*??*/
    overflow: hidden;
    -webkit-box-orient: vertical;
    margin-top: 13px;
    font-size: 12px;
    line-height: 18px;
    color: #b2b2b2;
    -webkit-line-clamp: 2;
}
.forum-panel .info a{
    display: block;
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.2;
    color: #5079d9;
    cursor: pointer;
}
.forum-panel .info a::after{
    content: ">";
    display: inline-block;
    font-size: 12px;
    /*height: 15px;*/
    /*width: 12px;*/
    color: #5079d9;
}











