/* 通用样式 */
*
::before,
::after{
    padding: 0;
    -webkit-webkit-tap-highlight-color: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,iconfont;
}
html{
    font-size: 62.5%;
}
input{
    border: none;
    -webkit-appearance: none;
}
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

ol,ul{
    list-style: none;
}
/*清除浮动，在目标对象中添加clearfix类名*/
.clearfix{
    zoom:1;  /*为了兼容IE*/
}
.clearfix::before,
.clearfix::after{
    clear:both;
    content:'';
    display:block;
    width: 0;
    height: 0;
    line-height: 0;
    visibility:hidden;
}