@charset "utf-8";
header {
  background-color: #FFFFFF;
}
header .header_l {
  float: left;
}
header .header_l h1 {
  float: left;
  margin: 0;
}
header .header_l .nav {
  float: left;
  height: 100%;
  margin: 0;
  display: flex;
}
header .header_l .nav li {
  display: block;
  height: 100%;
}
header .header_l .nav li a {
  height: 100%;
  display: block;
  text-align: center;
}
header .header_l .nav li a:hover {
  background-color: transparent;
}
header .header_l .nav li a:hover .nav_CH {
  margin-top: -16px;
}
header .header_l .nav li a .nav_CH {
  -webkit-transition: margin 0.3s ease;
  transition: margin 0.3s ease;
}
header .header_l .nav li .curr {
  height: 19px;
  display: block;
  overflow: hidden;
}
header .header_l .nav li i {
  height: 16px;
  display: block;
  font-size: 1.2rem;
  line-height: 16px;
  font-style: normal;
}
header .header_r {
  display: block;
  height: 50px;
  float: right;
}
header .header_r .add_favorites {
  display: block;
  height: 50px;
  color: #aaaaaa;
  font-size: 1.3rem;
  float: left;
  padding: 0 20px;
  line-height: 50px;
  border-left: 1px solid #e8e8e8;
}
header .header_r .add_favorites:hover {
  color: #337ab7;
}
header .header_r .kefu {
  float: left;
  height: 50px;
  padding: 0px 20px;
  border-left: 1px solid #e8e8e8;
}
header .header_r .kefu i {
  font-size: 24px;
  color: #aaaaaa;
  line-height: 48px;
}
header .header_r .kefu i:hover {
  color: #009AEA;
}
header .header_r .weixin {
  float: left;
  height: 50px;
  padding: 0px 20px;
  border-left: 1px solid #e8e8e8;
}
header .header_r .weixin i {
  font-size: 24px;
  color: #aaaaaa;
  line-height: 48px;
}
header .header_r .weixin i:hover {
  color: #009AEA;
}
@media screen and (min-width: 730px) and (max-width: 1100px) {
  .logo_pc {
    display: none;
  }
  header {
    height: 40px;
  }
  header .header_l {
    height: 40px;
    padding-left: 5px;
  }
  header .header_l h1 {
    padding-top: 2px;
  }
  header .header_l h1 img {
    height: 30px;
    width: 30px;
  }
  header .header_l .nav {
    margin-left: 10px;
  }
  header .header_l .nav a {
    padding: 10px 7.5px;
  }
  header .header_r {
    height: 40px;
  }
  header .header_r .add_favorites {
    height: 40px;
    font-size: 1.3rem;
    padding: 0 10px;
    line-height: 40px;
  }
  header .header_r .kefu {
    height: 40px;
    padding: 0px 10px;
  }
  header .header_r .kefu i {
    font-size: 18px;
    line-height: 37px;
  }
  header .header_r .weixin {
    height: 40px;
    padding: 0px 10px;
  }
  header .header_r .weixin i {
    font-size: 18px;
    line-height: 37px;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1300px) {
  .logo_pc {
    display: none;
  }
  header {
    height: 50px;
  }
  header .header_l {
    height: 50px;
    padding-left: 10px;
  }
  header .header_l h1 {
    padding-top: 7px;
  }
  header .header_l h1 img {
    height: 36px;
    width: 36px;
  }
  header .header_l .nav {
    margin-left: 20px;
  }
  header .header_l .nav a {
    padding: 15px 15.5px;
  }
  header .header_l .nav a i {
    height: 19px;
    font-size: 1.3rem;
    line-height: 19px;
  }
  header .header_r {
    height: 50px;
  }
  header .header_r .add_favorites {
    height: 50px;
    font-size: 1.3rem;
    padding: 0 10px;
    line-height: 50px;
  }
  header .header_r .kefu {
    height: 50px;
    padding: 0px 10px;
  }
  header .header_r .kefu i {
    font-size: 24px;
    line-height: 48px;
  }
  header .header_r .weixin {
    height: 50px;
    padding: 0px 10px;
  }
  header .header_r .weixin i {
    font-size: 24px;
    line-height: 48px;
  }
}
@media screen and (min-width: 1300px) {
  .logo_mobile {
    display: none;
  }
  header {
    height: 50px;
  }
  header .header_l {
    height: 50px;
    padding-left: 20px;
  }
  header .header_l h1 {
    padding-top: 7px;
  }
  header .header_l .nav {
    margin-left: 30px;
  }
  header .header_l .nav a {
    padding: 15px 10px;
  }
  header .header_l .nav a i {
    height: 19px;
    font-size: 1.4rem;
    line-height: 19px;
  }
}
@media screen and (min-width: 730px) {
  .header_mobile {
    display: none;
  }
}
@media screen and (max-width: 730px) {
  header {
    display: none;
  }
}
.header_mobile {
  width: 100%;
  height: 40px;
  background-color: #FFFFFF;
  padding: 0 10px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}
.header_mobile h1 {
  float: left;
  margin: 0;
  margin-top: 3px;
}
.header_mobile h1 img {
  height: 30px;
  width: 30px;
}
.header_mobile .menu_mobile {
  float: right;
  width: 20px;
  height: 30px;
  background: rgba(0, 154, 234, 0);
  margin-top: 5px;
}
.header_mobile .menu_mobile span {
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: #009aea;
}
.header_mobile .menu_mobile span:nth-of-type(2) {
  top: 19px;
  right: 10px;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header_mobile .menu_mobile span:nth-of-type(1) {
  top: 13px;
  right: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header_mobile .menu_mobile span:nth-of-type(3) {
  top: 25px;
  right: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ml1 {
  transform: rotate(45deg) translateY(4px) translateX(5px);
  -webkit-transform: rotate(45deg) translateY(4px) translateX(5px);
}
.ml3 {
  transform: rotate(135deg) translateY(4px) translateX(-4px);
  -webkit-transform: rotate(135deg) translateY(4px) translateX(-4px);
}
.menu_box {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 2s ease;
}
.menu_box ul {
  height: 100%;
  width: 100px;
  background-color: #ffffff;
  padding: 0;
}
.menu_box ul li {
  height: 40px;
  border-bottom: 1px solid #eeeeee;
}
.menu_box ul li a {
  display: block;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: #333333;
  background-color: #ffffff;
}
.menu_box ul li:nth-of-type(1) {
  border-top: 1px solid #eeeeee;
}
@media screen and (min-width: 700px) {
  .pic_show a {
    height: 512px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  }
}
@media screen and (max-width: 700px) {
  .pic_show a {
    height: 300px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  }
}
@media screen and (max-width: 600px) {
  .pic_show a {
    height: 200px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  }
}
.pic1 {
  background-image: url('../images/lb_01.jpg');
}
.pic2 {
  background-image: url('../images/lb_02.jpg');
}
.pic3 {
  background-image: url('../images/lb_03.jpg');
}
.pic4 {
  background-image: url('../images/lb_04.jpg');
}
.pic5 {
  background-image: url('../images/lb_05.jpg');
}
.pic6 {
  background-image: url('../images/lb_06.jpg');
}
.pic7 {
  background-image: url('../images/lb_07.jpg');
}
.banner .prev,
.banner .next {
  color: #ffffff;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5 ease;
}
.banner i {
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  -webkit-transform: translateY(-60%);
}
.banner:hover .prev,
.banner:hover .next {
  opacity: 1;
}
@media screen and (min-width: 1180px) {
  .service_box {
    width: 1180px;
    height: 240px;
  }
  .service_box .s_content {
    margin: 60px auto 80px;
  }
}
@media screen and (max-width: 1180px) {
  .service_box {
    padding: 0 20px;
    width: 100%;
    height: 240px;
  }
  .service_box .s_content {
    margin: 60px auto 80px;
  }
}
@media screen and (max-width: 700px) {
  .service_box {
    padding: 0 10px;
    width: 100%;
    height: 240px;
  }
  .service_box .s_content {
    margin: 20px auto;
  }
  .service_box .s_content h2 {
    margin: 15px 0;
    color: #333333;
    font-size: 1.4rem;
  }
  .service_box .s_content p {
    font-size: 1rem;
    margin-top: 30px;
  }
}
.service_box {
  margin: 0 auto;
  cursor: pointer;
}
.service_box .s_content {
  width: 100%;
  height: 240px;
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  display: flex;
}
.service_box div {
  width: 25%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  text-align: center;
}
.service_box div img {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 180px;
  margin-top: 20px;
  transition: all 2s;
  -webkit-transition: all 2s;
}
.service_box div img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.service_box div h2 {
  margin: 20px 0 5px;
  color: #333333;
  font-size: 1.7rem;
}
.service_box div p {
  color: #000000;
  font-size: 1.3rem;
  text-align: center;
}
@media screen and (min-width: 1220px) {
  .case {
    width: 1200px;
  }
  .case .case_list {
    width: 100%;
  }
  .case .case_list div.case_box {
    width: 33%;
    margin-bottom: 10px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 1220px) {
  .case {
    width: 100%;
  }
  .case .case_list {
    width: 100%;
  }
  .case .case_list div.case_box {
    width: 33%;
    margin-bottom: 10px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 800px) {
  .case {
    width: 100%;
  }
  .case .case_list {
    width: 100%;
  }
  .case .case_list div.case_box {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
  }
}
.case {
  margin: 80px auto 60px;
  text-align: center;
}
.case .case_list {
  width: 100%;
}
.case .case_list div.case_box {
  display: inline-block;
  height: 330px;
}
.case .case_list div.case_box img {
  display: block;
  width: 100%;
}
.case .case_list div.case_box img:hover {
  animation: ff 1s;
  -webkit-animation: ff 1s;
}
.case .case_list div.case_box .text-box {
  text-align: left;
  width: 100%;
  padding: 10px 26px;
  color: #999999;
  font-size: 14px;
  background: #ffffff;
}
.case h2 {
  margin: 0;
  margin-bottom: 30px;
  color: #666666;
  font-size: 26px;
}
.case .seeAll-btn {
  text-align: center;
  display: block;
  margin: 30px auto 0;
  width: 240px;
  height: 50px;
  line-height: 50px;
  color: #999999;
  font-size: 16px;
  border: 1px solid #e8e8e8;
  background: #ffffff;
  margin-top: 20px;
}
@keyframes ff {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes ff {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
}
.news-box {
  background-color: #ffffff;
}
.news-box .new_content {
  padding-top: 30px;
}
.news-box .new_content .new_l h2 {
  font-size: 24px;
  color: #333333;
}
.news-box .new_content .new_l h2:hover {
  color: #009aea;
}
.news-box .new_content .new_l P {
  color: #999999;
  text-overflow: ellipsis;
}
.news-box .new_content .new_l span {
  color: #999999;
  font-size: 14px;
}
.news-box .new_content .new_r .news-pic img {
  display: block;
  width: 100%;
}
.news-box .new_content .new_r h2 {
  color: #333333;
  font-size: 16px;
}
.news-box .new_content .new_r h2:hover {
  color: #009aea;
}
.news-box .new_content .new_r .new_b div {
  height: 107px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.news-box .new_content .new_r P {
  color: #999999;
  text-overflow: ellipsis;
}
.news-box .title {
  color: #666666;
  font-size: 20px;
  margin-bottom: 18px;
}
a.news-seeMore {
  display: block;
  margin: 40px 0;
  font-size: 17px;
  color: #009aea;
}
.map-box {
  width: 100%;
  height: 600px;
}
#container {
  min-width: 600px;
  min-height: 767px;
}
